main {
    width: 100%;
    height: 100%;
    margin: 10% 0;
  }
  
  .overlay--about {
      width: inherit;
      height: inherit;
      background-color: rgba(117, 0, 0, 0.411);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
  .header-content {
    background-image: url(../images/about_header.jpeg);
    width: 100vw;
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header-content__blurb {
      font-size: 10rem;
      color: var(--accent);
      align-self: center;
  }
  
  .main-content {
      
  }
  
  .main-content__blurb {
      font-size: 2.5rem;
      text-align: center;
      line-height: 5rem;
  }
  
  .main-content__panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
    /* padding: 10% 0; */
    /* align-self: center; */
  }
  
  .main-content__panel__image {
    width: 50rem;
    height: 33rem;
    background-image: url(../images/about_image1.jpeg);
  }
  
  .main-content__panel__image--alt {
    width: 50rem;
    height: 33rem;
    background-image: url(../images/about_image2.jpeg);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer {
      margin-top: 25%;
  }
  